*.o
*.so
*.la
*.a
*.gmo
*.lo
.dirstamp
.DS_Store
Makefile
piclone
config.status
config.log
config.h
.deps/
.libs/
libtool
autom4te.cache/*
po/Makefile.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
stamp-h1
