*.o
*.so
*.la
*.a
*.gmo
*.lo
*.desktop
*.log
*.pot
.dirstamp
configure
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
Makefile
Makefile.in
POTFILES
LINGUAS
po/.intltool-merge-cache
po/stamp-it
aclocal.m4
ar-lib
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.deps/
.libs/
autom4te.cache/
m4/
autoreconf.*
*.substvars
debian/files
debian/debhelper-build-stamp
debian/.debhelper/
debian/piclone/
piclone
