Source: piclone
Section: utils
Priority: optional
Maintainer: Simon Long <simon@raspberrypi.org>
Build-Depends: debhelper (>= 9), autotools-dev, libglib2.0-dev, libgtk2.0-dev, intltool
Standards-Version: 3.9.5

Package: piclone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, parted, dosfstools, e2fsprogs, coreutils, mount, uuid
Description: SD Card backup program for Raspberry Pi
 This is a GTK application to copy the contents of SD cards and other USB
 drives. It mirrors the partition layout of the source device onto the
 target device, with the exception of the last partition, which is created
 to be the largest which will fit onto the target device.
 Files are then copied between all partitions - the result should be a 
 bootable card with an image of the source device.
