[Desktop Entry]
Type=Application
Name=SD Card Copier
Name[de]=SD Card Copier
Name[en_GB]=SD Card Copier
GenericName=SD Card Copier
GenericName[de]=SD Card Copier
GenericName[en_GB]=SD Card Copier
Comment=Make a copy of the Raspbian SD card
Comment[de]=Erstellen Sie eine Kopie der Raspbian SD-Karte
Comment[en_GB]=Make a copy of the Raspbian SD card
Icon=media-removable
Exec=env SUDO_ASKPASS=/usr/bin/pwdpic.sh piclone
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Utility;
