[Desktop Entry]
Type=Application
Name=SD Card Copier
Name[en_GB]=SD Card Copier
GenericName=SD Card Copier
GenericName[en_GB]=SD Card Copier
Comment=Make a copy of the Raspbian SD card
Comment[en_GB]=Make a copy of the Raspbian SD card
Icon=media-flash
Exec=piclone
NotShowIn=GNOME;XFCE;
StartupNotify=true
Categories=Utility;
